.general {
  display: flex;
  flex-direction: column;
  
}
.general h1 {
  margin:0px;
}

.experience h2,ul {
  margin:5px;
}

.experience li {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.experience li * {
  margin: 2px;
}

.education {
  display: flex;
  flex-direction: column;
}

.education h2,ul {
  margin:5px;
}

.education li {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.education li * {
  margin: 2px;
}

@media print {
  html, body {
    background-color: white;
  }
  header, footer, .Input{
    display:none;
  }
  main {
    background-color: white;
  }

  .Display {
    display: block;
    position: absolute;
    top:0;
    left:0;

    box-shadow: none;

    margin-left: 20px;

    width: 100%;

    border-collapse: separate;
  }
}